@import "../stylesheets/bootstrap";
@import "../components/require";
footer{
    @extend %auto;
    padding: 30px 0;
    margin-top: 120px;
    color: #616161;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}



















